body {
    width:100%;
    background-image:url(images/Background%20texture.jpg);
    background-repeat: repeat-y;
    background-size: contain;
}
img {
    width: 100%;
}
img#Slipknotalbum {
    width: 50%;
    float:right;
}
img#Stonesouralbum {
    width: 50%;
    float:left;
    margin-bottom: 30%
}
p {
    width:100%;
    color: whitesmoke;
    text-align: center;
}
p#afterwhite {
    margin-top: 20%;
}
p#beforealbums {
    margin-bottom: 20%;
}
p#slipknottext {
    width: 100%;
    text-align: left;
    margin-right: 10%;
}
p#stonesourtext {
    width: 100%;
    text-align: right;
    margin-left: 10%;
}
p#paragraphaftercorey {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
h1 {
    text-align: center;
    color: whitesmoke;
}

h2 {
    text-align: left;
    color: whitesmoke;
}

h3 {
    width: 100%;
    text-align: right;
    color: whitesmoke;
}