body {
    font-family: 'Julee', cursive;
    width:100%;
    background-image:url(images/Background%20texture.jpg);
    background-repeat:repeat-y;
    background-attachment: fixed;
    background-position: center;
    background-size:contain;
}
img {
    width: 100%;
    display: block;
    margin: auto;
}
img#nope {
    position: relative;
    width: 100%;
}
img#Slipknotalbum {
    display: block;
    margin: auto;
    width: 50%;
}
img#Stonesouralbum {
    display: block;
    margin: auto;
    width: 50%;
}
img#neck {
    position: relative;
    width: 100%;
}
p {
    margin: auto;
    display: block;
    width:70%;
    color: whitesmoke;
    text-align: center;
}
p#afterwhite {
    margin-top: 10%;
    margin-bottom: 10%;
}
p#beforealbums {
    margin-bottom: 10%;
}
p#slipknottext {
    text-align: center;
    margin-bottom: 10%;
}
p#stonesourtext {
    text-align: center;
    margin-bottom: 10%;
}
p#paragraphaftercorey {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
h1 {
    font-size: 500%;
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: whitesmoke;
}
h3 {
    color: whitesmoke;
     position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
}