body {
    font-family: 'Finger Paint', cursive;
    background-color: black;
    width: 100%;
}

img#theonlypicture {
    width: 100%;
        
}

header {
    margin-top: 20%;
    padding: 10%;
    width: 80%;
    text-align: center;
    color: darkgrey;
    font-size: 100px;
}

a {
    background-color:;
    color: dimgrey;
    position: absolute;
    left: 42%;
    bottom: 1%;
}

section {
    position: relative;
}